<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mycontext" connectionString="Data Source=DESKTOP-0M3BPJP;Initial Catalog=lab8ado;Integrated Security=True;Trust Server Certificate=True"
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>