
header{
    width: auto;
    height: 100px;
    background-color: white;
}

body{
    background-color: #F8F7FF;
    margin: 0px;
}

#iconDiv{
    display: inline-block;
    margin: 6px 0px 0px 37px;
    width: 200px;
    height: 87px;
}

#icon{
    display: inline-block;
    margin: 31px 0px 0px 5px;
    font-family: 'Parchment';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#searchDiv{
    position: absolute;
    left: 400px;
    margin-top: 25px;
    display: inline-block;
    width: 640px;
    height: 50px;
}

#searchInput{
    width: 640px;
    height: 50px;
    background: #F8F7FF;
    border-radius: 6px;
    border: 0px;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.408px;
    padding-left: 25px;
}

#searchInput::placeholder{
    position: absolute;
    left: 25px;
    width: 559px;
    height: 22px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.408px;

    color: rgba(60, 60, 67, 0.6);
}

#cleanSearchButton{
    position: absolute;
    margin-left: 620px;
    top: 13px;
}

#avatarDiv{
    display: inline-block;
    width: 65px;
    height: 65px;
    position: absolute;
    margin-top: 17px;
    left: 94%;
}

#avatar{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

nav{
    position: absolute;
    background-color: white;
    width: 299px;
    height: 87vh;
}

.navButton{
    width: 260px;
    height: 80px;
    margin-left: 22px;
    margin-top: 10px;
}

.navButton svg{
    margin-top: 20px;
    margin-left: 12px;
}

.navButton p{
    position: absolute;
    display: inline-block;
    margin-top: 32px;
    height: 32px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #000000; 
}

main{
    position: absolute;
    left: 300px;
    top: 120px;
    width: auto;
}

#title{
    margin: 0px;
    position: absolute;
    left: 52px;
    width: 740px;
    padding-left: 400px;
    padding-top: 16px;
    height: 60px;
    background-color: white;
}

#bookings{
    position: absolute;
    left: 52px;
    top: 90px;
    width: 1140px;
    height: 500px;
    background-color: white;
}

#bookingsTitle{
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
}

#bookingsTitle span{
    position: absolute;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.booking{
    margin-top: 10px;
    width: 1140px;
    height: 40px;
    padding-top: 15px;

    background-color: rgb(255, 255, 255);
}

.booking span{
    position: absolute;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #000000;
}

.booking img{
    position: relative;
    bottom: 5px;
    left: 850px;
}

.booking svg{
    position: absolute;
    left: 1100px;
}
